<div class="form-group">
    <label for="usr">Name:-</label>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="this._counterservice.Firstname" id="usr">
      </div>
  
    <div class="col">
      
      <input type="email" class="form-control" [(ngModel)]="this._counterservice.Lastname" id="pwd">
    </div>
  
  </div>
  <br>
  <div>
    <label>Email:-</label>
  <input type="email" class="form-control" [(ngModel)]="this._counterservice.email" id="pwd">
  </div>
  
  
